@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .tw-btn-blue {
        @apply tw-px-4 tw-btn-sm tw-bg-primary-blue tw-text-white tw-rounded-lg tw-shadow-md hover:tw-bg-blue-500 focus:tw-outline-none focus:tw-ring-2 focus:tw-ring-blue-400 focus:tw-ring-opacity-75;
    }

    .tw-btn-round-blue {
        @apply tw-bg-transparent hover:tw-bg-primary-blue tw-primary-blue tw-font-semibold hover:tw-text-white tw-px-4 tw-border tw-border-blue-500 hover:tw-border-transparent tw-rounded;
    }
    
    .tw-input-basic {
        @apply tw-border tw-border-gray-300 tw-bg-white tw-text-gray-900 tw-border-solid tw-appearance-none tw-block tw-w-full tw-rounded-md tw-py-2 tw-px-3 focus:tw-border-blue-500 focus:tw-outline-none;
    }

    .tw-checkbox{
        @apply  tw-text-primary-blue tw-rounded tw-border-gray-300 tw-shadow-sm;
    }
  }

  @layer utilities {
    .tw-w-10p{
        width:10%;
    }

    .tw-bg-primary-blue {
        background-color:#3DAEE3;
    }

    .tw-text-primary-blue {
        color:#3DAEE3;
    }

    .tw-primary-blue {
        --tw-text-opacity: 1;
        color:#3DAEE3;
    }

    .tw-border-primary-blue {
        border-color: #3DAEE3;
    }
    .tw-btn-sm{
        height:36px;
    }
    .tw-btn-base{
        height:40px;
    }
    .tw-btn-lg{
        height:72px;
    }
    @variants hover, focus {
        .tw-bg-primary-blue {
            background-color:#3DAEE3;
        }

        .tw-primary-blue {
            color:#3DAEE3;
        }

        .tw-border-primary-blue {
            border-color: #3DAEE3;
        }
        
    }
    .tw-bg-panel{
        background-color:#F9FAFB;
    }

    .tw-line-color{
        border-color:rgba(0, 0, 0, 0.1);
    }

    .tw-text-13px{
        font-size:13px;
    }
    .tw-text-9px{
        font-size:9px;
    }
  }
 

